{% render 'partials/head.liquid', title: 'SnappThis Homepage' %}

  <main>
    {% render 'partials/topbar.liquid', snapmap: snapmap %}

    <article class="group-name">
      <img src="/assets/svg/group_blue.svg">
      <h1>{{ groupName }}</h1> 
    </article>

    <div id="successPopup" class="popup-overlay" style="display: none;">
      <div class="popup-content">
        <h2>Your snapp has been added successfully!</h2>
        <button onclick="closePopup()">
          <p>OK</p>
        </button>
      </div>
    </div>

    <article class="camera-button-container">
      <form method="POST" action="/snappmaps/{{ snapmap.uuid }}" enctype="multipart/form-data">
        <label for="picture">
          <img src="/assets/svg/camera.svg">
          <input type="file" id="picture" name="file" accept="image/*" capture="environment" onchange="this.form.submit()">
        </label>
      </form>
    </article>

    <ul class="photo-grid">
      {% for item in snappmaps %}
        {% assign sorted_snaps = item.snaps | sort: "date_created" | reverse %}
          {% for snap in sorted_snaps %}
            {% if snap.picture.id != null %}
              <li>
                <a href="/snapps/snappmap/{{ snap.uuid }}">
                  <img type="image/webp" src="https://fdnd-agency.directus.app/assets/{{ snap.picture.id }}?format=webp">
                </a>
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
    </ul>

    {% render 'partials/bottombar.liquid' %}
  </main>
</body>

<script>
  window.addEventListener('load', () => {
    const urlParams = new URLSearchParams(window.location.search);
    
    // Als 'success' in de URL staat, toon de popup
    if (urlParams.get('success') === 'true') {
      document.getElementById('successPopup').style.display = 'flex';
    }
  });

  // Functie om de popup te sluiten
  function closePopup() {
    document.getElementById('successPopup').style.display = 'none';
    
    const newUrl = window.location.pathname;
    window.history.replaceState({}, document.title, newUrl);
  }
</script>