{% render 'partials/head.liquid', title: 'SnappThis Homepage' %}

  <main>
    {% render 'partials/topbar.liquid', snapmap: snapmap %}

    <article class="group-name">
      <img src="/assets/svg/group_blue.svg" width="30px" height="30px">
      <h1>{{ groupName }}</h1> 
    </article>

    <div id="successPopup" class="popup-overlay" style="display: none;">
      <div class="popup-content">
        <h2>Your snapp has been added successfully!</h2>
        <button onclick="closePopup()">
          <p>OK</p>
        </button>
      </div>
    </div>

    <article class="camera-button-container">
      <form method="POST" action="/snappmaps/{{ snapmap.uuid }}" enctype="multipart/form-data">
        <label for="picture">
          <img src="/assets/svg/camera.svg" width="60px" height="60px">
          <input type="file" id="picture" name="file" accept="image/*" capture="environment" onchange="this.form.submit()">
        </label>
      </form>
    </article>

    <ul class="photo-grid">
      {% for item in snappmaps %}
      {% assign sorted_snaps = item.snaps | sort: "date_created" | reverse %}
        {% for snap in sorted_snaps %}
          {% if snap.picture.id != null %}
            <li>
              <a href="/snapps/snappmap/{{ snap.uuid }}">
                <img 
                  type="image/webp" 
                  src="https://fdnd-agency.directus.app/assets/{{ snap.picture.id }}?width=200&format=webp" 
                  loading="lazy">
              </a>
            </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>

    {% render 'partials/bottombar.liquid' %}
  </main>
</body>

<script>
  const successPopup = document.getElementById('successPopup')
  const successPopupText = document.getElementById('successPopup h2')
  const formButton = document.querySelector("form input")

  window.addEventListener('load', () => {
    const urlParams = new URLSearchParams(window.location.search);
    
    // Als 'success' in de URL staat, toon de popup
    if (urlParams.get('success') === 'true') {
      successPopup.style.display = 'flex';
    }
  });

  // Functie om de popup te sluiten
  function closePopup() {
    successPopup.style.display = 'none';
    
    const newUrl = window.location.pathname;
    window.history.replaceState({}, document.title, newUrl);
  }

  const snappUploadForm = document.querySelector("form")

  // Als er op de submit button wordt geklikt ...
  snappUploadForm.addEventListener("submit", async function(event) {
    // Voorkom de standaard submit van de browser
    event.preventDefault()
    
    //Loading state tonen:
    successPopup.style.display = 'flex';
    successPopupText.textContent = "Uploading..."

    //formdata voorbereiden:
    let formData = new FormData(scoreForm);    

    // Data fetchen:
    // Doe een fetch naar de server, net als hoe de browser dit normaal zou doen
    // Gebruik daarvoor het action en method attribuut van het formulier
    // Stuur de formulierelementen mee
    const response = await fetch(scoreForm.action, {
      method: scoreForm.method, //POST dus
      body: new URLSearchParams(formData) // <<< Dit moet omdat server.js anders niet met de formulier data kan werken
    })

    // Data verwerken:
    // De server geeft data terug als het posten goed gaat
    const responseData = await response.text()

    // Normaal zou de browser die HTML parsen en weergeven, maar daar moeten we nu zelf iets mee
    // Parse de nieuwe HTML en maak hiervan een nieuw Document Object Model in het geheugen
    const parser = new DOMParser()
    const responseDOM = parser.parseFromString(responseData, 'text/html')

    // Zoek in die nieuwe HTML DOM onze nieuwe UI state op, die we via Liquid hebben klaargemaakt
    const newState = responseDOM.querySelector('#score ol')

    // data van de server toevoegen aan de DOM, aan de scorelijst in de ol
    // Overschrijf de HTML met de nieuwe HTML
    scores.innerHTML = newState.innerHTML

    // Loading state weghalen
    // Nu kan je waarschijnlijk de Loading state vervangen door een Success state
    console.log("Loading state weghalen")
    formButton.classList.remove("loading")
    formButton.textContent = "Save score"

  })
</script>